html{
    box-sizing: border-box;
    font-family: "Noto Sans";
    background-color: hsl(217, 61%, 95%);
}
*, *::before, *::after{
    box-sizing: inherit;
}
.main-container{
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}
.main-container > * {
    background-color: hsl(200, 60%, 99%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    height: 200px;
}
.description img{
    width: 90px;
    height: 60px;
}
.description{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 20px 0 0;
}
h3{
    margin: 0 0 0 0;
    color: hsl(227, 75%, 14%);
}
.inline p{
    margin: 0;
    color: hsl(226, 11%, 50%);
    font-weight: 500;
}
.inline{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    font-family: "Noto Sans";
    color: hsl(227, 75%, 14%);
    border: 1px solid hsl(0, 0%, 78%);
    background-color: hsl(200, 60%, 99%);
    width: 90px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.0rem;
}
.buttons{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px; width: 17px;
  left: 4px; bottom: 3.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: hsl(3, 77%, 44%);
}

input:checked + .slider::before {
  transform: translateX(19px);
}